.container {
    padding-top: 20px;
}
.calculator-container {
    background-color: darkgray;
    height: 600px;
    width:475px;
    border-radius: 10px;
    padding-top: 37.5px;
    
}
.calculator-display {
    border-radius: 10px;
    height: 80px;
    width: 400px;
    background-color: lightgreen;
    margin: 0 auto;
    font-family: 'Orbitron', sans-serif;
    /*polish up*/
    padding-left: 270px;
    padding-top: 1px;
    font-size: 50px;
}